<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间 表示当前mapper文件对应的接口类   -->
<mapper namespace="com.yq.dao.CourseDao">


<resultMap id="gradeStu" type="com.yq.entity.Grade">
    <id column="gid" property="gid"></id>
    <collection property="stuList" ofType="Stu">
        <id column="sid" property="sid"></id>
    </collection>
</resultMap>
<select id="getGradeAndStu" resultMap="gradeStu">
select * from stu,grade where sid = gid
</select>

</mapper>